.mainmenu
  .mainmenu__grp
    .mainmenu__grp__ntakgrp
      .mainmenu__grp__ntakgrp__ntakbtn
        = link_to 'NTAK', "#", class:"NTAK_txt"
      .mainmenu__grp__ntakgrp__ntakexp
        %p.mainmenu__grp__ntakgrp__ntakexp__txt
          同ジャンルの二者択一が出来ます
          %br
          自身の好きなものが見つめ直せ
          %br
          新しい物との出会いも見つかるかもしれません
    .mainmenu__grp__rankgrp
      .mainmenu__grp__rankgrp__rankexp
        .mainmenu__grp__rankgrp__rankexp
          %p.mainmenu__grp__rankgrp__rankexp__txt
            ランキングの一覧が閲覧できます
      .mainmenu__grp__rankgrp__rankbtn
        = link_to '一覧', "#", class:"rank_txt"
    .mainmenu__grp__srhgrp
      .mainmenu__grp__srhgrp__srhbtn
        = link_to '検索', "#", class:"srh_txt"
      .mainmenu__grp__srhgrp__srhexp
        %p.mainmenu__grp__srhgrp__srhexp__txt
          ピンポイントで見たいものであったり
          %br
          タグごとの検索が出来ます
.footer
  .footer__copy
    ©︎ NTAK-TEST.INC